/* .carousel {
  width: 300px;
  height: 300px;
  position: relative;
  perspective: 1000px;
  margin-bottom: 20px;
}

.carousel-item {
  width: 100px;
  height: 150px;
  line-height: 150px;
  color: white;
  text-align: center;
  background: #09f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 50% 50% -400px;
  transition: transform 1s;
  border-radius: 8px;
}

.cutton {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background: #09f;
  color: white;
}

.cutton:hover {
  background: #07c;
} */

.container {
  margin: 0 auto;
  width: 250px;
  height: 200px;
  position: relative;
  perspective: 600px;
}
  
  .carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  
.item {
  display: block;
  position: absolute;
  background: #000;
  width: 250px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  color: #FFF;
  opacity: 0.95;
  font-size: 1.3em;
  border-radius: 10px;
  font-family: "ROMANSEX";
  cursor: pointer;
  user-select: none;
  background-size: 50% auto;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.item img {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: contain; /* Or "cover" depending on your goal */
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  position: absolute;
}

.second {
  opacity: 0;
}

.image-wrapper:hover .second {
  opacity: 1;
}

.image-wrapper:hover .first {
  opacity: 0;
}

.a, .b, .c {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
  
.a {
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
  transform: rotateY(0deg) translateZ(250px);
  background: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/PinewoodChapel/images/pineglen.jpg");
}

.a:hover {
  background-image: url("/PinewoodChapel/images/sunrise.webp");
}

.b {
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
  transform: rotateY(60deg) translateZ(250px);
  background: white;
  background-image: url("/PinewoodChapel/images/msms.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.b:hover {
  background-image: url("/PinewoodChapel/images/purplesky.jpg");
}

.c {
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
  transform: rotateY(120deg) translateZ(250px);
  background: white;
  background-image: url("/PinewoodChapel/images/bhs.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.c:hover {
  background-image: url("/PinewoodChapel/images/bloodmoon.jpg");
}

  .d, .e, .f {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  /* .d {
    transform: rotateY(180deg) translateZ(250px);
    background: #eae1dd;
    background-image: url("../IMG_0668.jpeg");
  }

  .e {
    transform: rotateY(240deg) translateZ(250px);
    background: #ece1eb;
    background-image: url("../IMG_0669.jpeg");
  } 

.f {
    transform: rotateY(300deg) translateZ(250px);
    background: #e2d9d0;
    background-image: url("../IMG_0670.jpeg");
  } */

/* .next:hover, .prev:hover { color: #000; } */

.next:active, .prev:active {
  box-shadow: 0 1px 0 #999;
  border-radius: 5px;
  font-family: "ROMANSEX";
}
  
.next .prev {
  position: relative;
  padding: 5px;
  font-family: "ROMANSEX";
  font-size: 2.5vw;
}

#button-container {
  display: flex;
  margin: auto;
  gap: 10px;
  justify-content: center;
  align-items: center;
}