.slider-wrapper {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
  overflow: hidden;
}

.reusable-slider {
  overflow: hidden;
}

.slider-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.reusable-slider-item {
  flex: 0 0 100%;
  text-align: center;
  background: #09f;
  color: white;
  padding: 40px 0;
  font-size: 2rem;
  font-family: "ROMANSEX";
  /* border-right: 1px solid #fff; */
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.8;
}

.slider-prev,
.slider-next {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  font-family: "ROMANSEX";
}

.slider-buttons {
  display: flex;
  margin: auto;
  gap: 10px;
  justify-content: center;
  align-items: center;
}